<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new blog post</h1>

    <form action="/blogpost/{{id}}" method="POST"> 
        
    <label>Post Title</label><br />
    <input type="text" name="postTitle"/><br />

    <label>Post Body</label><br />
    <input type="text" name="postBody"/><br />

    <button type="submit">Create</button>

    </form>
</body>
</html>